{{template "base"}}

{{define "css"}}

<style>
  .not-found {
    text-align: center;
  }
</style>

{{ end }}

{{define "content"}}

<div class="not-found mb-5">
  <em>404</em>
  <p>Page Not Found</p>
</div>

{{ end }}
