go 1.20

use (
	"./Daily algorithms in Go"
	"./Daily algorithms in Go/PalindromeCheck"
	"./Daily algorithms in Go/RunLengthEncoding"
	"./Daily algorithms in Go/TwoNumberSums"
	"./Daily algorithms in Go/caeser cipher encryptor"
	"./file reader"
	.
	./Algorithms
	./card
	./channels
	./even_odd
	./guessing_game
	./http
	./interface
	./map
	./pomodoro-go-cli
	./structs
	./strings
	./modules
)
