{{template "base" .}}

{{define "content"}}
<!-- CONTAINER -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-12">
      <img
        src="/static/images/majors-suite.png"
        alt="generals room image"
        class="img-fluid mx-auto d-block room-image img-thumbnail"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">
        Major's Suite
      </h1>
      <p>
        Your home away from home, set on the majestic waters of the atlantic
        Ocean, this will be a vacation to remember
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <a href="/make-reservation-ms" class="btn btn-success">
        Check Availability</a
      >
    </div>
  </div>
</div>
{{ end }}
