{{define "base"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pillow</title>

    <style>
      form {
        display: flex;
        flex-direction: column;
      }
    </style>

    {{block "css" .}}

    {{
      end
    }}
  </head>
  <body>
    <header>
      <nav>
        <div class="brand">
          <div class="log"></div>
          <h1>Pillow</h1>
        </div>
        <div class="middle">
          <a href="#">Features</a>
          <a href="#">Features</a>
          <a href="#">Features</a>
        </div>
        <div class="auth">
          <a href="#">log in</a>
          <a href="#">sign up</a>
        </div>
      </nav>
    </header>
    {{block "content" .}}

    {{ end }}

    {{block "js" .}}

    {{ end }}
  </body>
</html>

{{ end }}
