{{template "base" .}}

{{define "css"}}

{{ end }}

{{define "content"}}
{{$value := index .Data "url"}}
<form action="/" method="post">
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
  <input type="text" name="url" id="" placeholder="Enter your url" />
  <>{{ $value }}</p>
  <input type="submit" value="shorten" />
</form>
{{ end }}
