{{template "base" .}}

{{define "css"}}
<link rel="stylesheet" type="text/css" href="/static/css/home.page.css" />
{{ end }}

{{define "content"}}
{{$value := index .Data "originalUrl"}}
<form action="/" method="post">
  <input type="text" name="csrf_token" value="{{.CSRFToken}}" />
  {{with .Form.Errors.Get "url"}}
  <label class="danger">{{.}}</label>
  {{ end }}
  <input
    type="text"
    name="url"
    id=""
    placeholder="Enter your url"
    value="{{$value.URL}}"
  />
  <p>{{ $value.URL }}</p>
  <input type="submit" value="shorten" />
</form>
{{ end }}
