{{template "header"}}

<div>
    <h1>FAQ Page</h1>
    <ul>
        {{range .}}
            {{template "qa" .}}
        {{end}}
    </ul>
</div>
{{template "footer"}}

{{define "qa"}}
<li>
    <p><b>Q: {{.Question}}</b></p>
     <p>A: {{.Answer}}</p>
</li>
{{end}}