{{template "base" .}}

{{define "css"}}

{{ end }}

{{define "content"}}
<div class="container">
  <div class="row">
    <dov class="col">
      <h1>This is the Home Page</h1>
      <p>This is some text on the home page</p>
    </dov>
  </div>
</div>
{{ end }}

{{define "js"}}

{{ end }}
