{{template "base" .}}

{{define "content"}}
<p>Welcome to the about page</p>
<p>Second paragraph from about page</p>
<p>This is from the template : {{index .StringMap "test" }}</p>
<p>
  This is your remote ip obtained through the app session
  {{index .StringMap "remote_ip"}}
</p>
{{ end }}
